{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">
{% endblock %}

{% block title %}&ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
  <div class="article_title">
    <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
  </div>
  <div class="article_text">
    {{ article.content }}
  </div>
  <div class="article_meta">
    <p>Posted on: {{ article.locale_date }}</p>
    <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      {% if article.tags %} &ndash; Tags:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </div>
  {% if article.share_post and article.status != 'draft' %}
  <section>
      <p id="post-share-links">
          Share on:
          <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><img src="{{ SITEURL }}/theme/images/Share/twitter.svg" alt="twitter"></a>
          <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><img src="{{ SITEURL }}/theme/images/Share/facebook.svg" alt="facebook"></a>
          <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><img src="{{ SITEURL }}/theme/images/Share/googleplus.svg" alt="google+"></a>
          <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email"><img src="{{ SITEURL }}/theme/images/Share/mail.svg" alt="email"></a>
      </p>
  </section>
  {% endif %}

</article>
{% endblock %}
